#### Drop operation Rows and Columns

In [0]:
import os
import sys
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [0]:
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [0]:
# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
# distinct() method is used to display the rows by elimination of the duplications
df.distinct().show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [0]:
print("Count of the rows in data frame:", df.count())
print("Count of rows without dupicates:",df.distinct().count())

Count of the rows in data frame: 10
Count of rows without dupicates: 9

#### Dropping duplictes

In [0]:
# dropDuplictes() method used to drop the duplicates
df2=df.dropDuplicates()
print("Count the number of rows:",df2.count())
df2.show()

Count the number of rows: 9
+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

#### Checking count of individual columns

In [0]:
print("The distinct count of 'employee_name'",df.select("employee_name").distinct().count())
print("The distinct count of 'department'",df.select("department").distinct().count())
print("The distinct count of 'salary'",df.select("salary").distinct().count())

The distinct count of 'employee_name' 9
The distinct count of 'department' 3
The distinct count of 'salary' 6

#### Drop duplicates for selected columns

In [0]:
# Remove Duplicates for selected columns using dropDuplicates() method
df_cols2 = df.dropDuplicates(['Department', 'Salary'])
df_cols2.show()
print("The count of the Columns after dropping duplicates of 2 columns : ", df_cols2.count())

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

The count of the Columns after dropping duplicates of 2 columns :  8

#### Drop Columns

In [0]:

simpleData = (("James","","Smith","36636","NewYork",3100), \
    ("Michael","Rose","","40288","California",4300), \
    ("Robert","","Williams","42114","Florida",1400), \
    ("Maria","Anne","Jones","39192","Florida",5500), \
    ("Jen","Mary","Brown","34561","NewYork",3000) \
  )
columns= ["firstname","middlename","lastname","id","location","salary"]

df = spark.createDataFrame(data = simpleData, schema = columns)

df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- location: string (nullable = true)
 |-- salary: long (nullable = true)

##### Dropping single columns

In [0]:
from pyspark.sql.functions import col

# Method 1: Directly using the name of the column
df.drop("middlename").show()

# Method 2: Accessing the column name using . operator
df.drop(df.lastname).show()

# Method 3: Accessing the column using col function
df.drop(col("location")).show()

+---------+--------+-----+----------+------+
|firstname|lastname|   id|  location|salary|
+---------+--------+-----+----------+------+
|    James|   Smith|36636|   NewYork|  3100|
|  Michael|        |40288|California|  4300|
|   Robert|Williams|42114|   Florida|  1400|
|    Maria|   Jones|39192|   Florida|  5500|
|      Jen|   Brown|34561|   NewYork|  3000|
+---------+--------+-----+----------+------+

+---------+----------+-----+----------+------+
|firstname|middlename|   id|  location|salary|
+---------+----------+-----+----------+------+
|    James|          |36636|   NewYork|  3100|
|  Michael|      Rose|40288|California|  4300|
|   Robert|          |42114|   Florida|  1400|
|    Maria|      Anne|39192|   Florida|  5500|
|      Jen|      Mary|34561|   NewYork|  3000|
+---------+----------+-----+----------+------+

+---------+----------+--------+-----+------+
|firstname|middlename|lastname|   id|salary|
+---------+----------+--------+-----+------+
|    James|          |   Smith|36636|  3100|
|  Michael|      Rose|        |40288|  4300|
|   Robert|          |Williams|42114|  1400|
|    Maria|      Anne|   Jones|39192|  5500|
|      Jen|      Mary|   Brown|34561|  3000|
+---------+----------+--------+-----+------+

##### Dropping multiple columns

In [0]:
# Method 1: Directly using the name of the column
df.drop("middlename","id").show()

# Method 2: Accessing the column name using . operator
df.drop(df.lastname,df.middlename,df.id).show()

# Method 3: Using tuple
cols=("middlename","id","location")
df.drop(*cols).show()

+---------+--------+----------+------+
|firstname|lastname|  location|salary|
+---------+--------+----------+------+
|    James|   Smith|   NewYork|  3100|
|  Michael|        |California|  4300|
|   Robert|Williams|   Florida|  1400|
|    Maria|   Jones|   Florida|  5500|
|      Jen|   Brown|   NewYork|  3000|
+---------+--------+----------+------+

+---------+----------+------+
|firstname|  location|salary|
+---------+----------+------+
|    James|   NewYork|  3100|
|  Michael|California|  4300|
|   Robert|   Florida|  1400|
|    Maria|   Florida|  5500|
|      Jen|   NewYork|  3000|
+---------+----------+------+

+---------+--------+------+
|firstname|lastname|salary|
+---------+--------+------+
|    James|   Smith|  3100|
|  Michael|        |  4300|
|   Robert|Williams|  1400|
|    Maria|   Jones|  5500|
|      Jen|   Brown|  3000|
+---------+--------+------+