#### System environment variables

In [0]:
import os 
import sys
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

#### Creating SparkSession

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
        .appName('fillna') \
        .getOrCreate()
spark.version

Out[2]: '3.3.2'

#### Read CSV

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/komatisatya1729@gmail.com/titanic.csv")

In [0]:
df1.show(truncate=False)

+-----------+-------------------------------------------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|Name                                                   |Pclass|Sex   |Age |SibSp|Parch|Ticket          |Fare   |Cabin|Embarked|Survived|
+-----------+-------------------------------------------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|1          |Braund, Mr. Owen Harris                                |null  |male  |22  |1    |0    |A/5 21171       |7.25   |null |S       |0       |
|2          |Cumings, Mrs. John Bradley (Florence Briggs Thayer)    |1     |female|38  |1    |0    |PC 17599        |71.2833|C85  |C       |1       |
|3          |Heikkinen, Miss. Laina                                 |3     |female|26  |0    |0    |STON/O2. 3101282|7.925  |null |S       |1       |
|4          |Futrelle, Mrs. Jacques Heath (Lily May Peel)           |1     |female|35  |1    |0    |113803          |53.1   |C123 |S       |1       |
|5          |Allen, Mr. William Henry                               |3     |male  |35  |0    |0    |373450          |8.05   |null |S       |0       |
|6          |Moran, Mr. James                                       |3     |male  |null|0    |0    |330877          |8.4583 |null |Q       |0       |
|7          |McCarthy, Mr. Timothy J                                |1     |male  |54  |0    |0    |17463           |51.8625|E46  |S       |0       |
|8          |Palsson, Master. Gosta Leonard                         |3     |male  |2   |3    |1    |349909          |21.075 |null |S       |0       |
|9          |Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      |3     |female|27  |0    |2    |347742          |11.1333|null |S       |1       |
|10         |Nasser, Mrs. Nicholas (Adele Achem)                    |2     |female|14  |1    |0    |237736          |30.0708|null |C       |1       |
|11         |Sandstrom, Miss. Marguerite Rut                        |3     |female|4   |1    |1    |PP 9549         |16.7   |G6   |S       |1       |
|12         |Bonnell, Miss. Elizabeth                               |1     |female|58  |0    |0    |113783          |26.55  |C103 |S       |1       |
|13         |Saundercock, Mr. William Henry                         |3     |male  |20  |0    |0    |A/5. 2151       |8.05   |null |S       |0       |
|14         |Andersson, Mr. Anders Johan                            |3     |male  |39  |1    |5    |347082          |31.275 |null |S       |0       |
|15         |Vestrom, Miss. Hulda Amanda Adolfina                   |3     |female|14  |0    |0    |350406          |7.8542 |null |S       |0       |
|16         |Hewlett, Mrs. (Mary D Kingcome)                        |2     |female|55  |0    |0    |248706          |16     |null |S       |1       |
|17         |Rice, Master. Eugene                                   |3     |male  |2   |4    |1    |382652          |29.125 |null |Q       |0       |
|18         |Williams, Mr. Charles Eugene                           |2     |male  |null|0    |0    |244373          |13     |null |S       |1       |
|19         |Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)|3     |female|31  |1    |0    |345763          |18     |null |S       |0       |
|20         |Masselmani, Mrs. Fatima                                |3     |female|null|0    |0    |2649            |7.225  |null |C       |1       |
+-----------+-------------------------------------------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

In [0]:
df1.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: string (nullable = true)

#### Replacing with number(using fillna)

In [0]:
# If we replace with only integer type, Then only integer columns from the dataframe gets replaced.
df1.fillna(value=0).show()

+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|                Name|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|          1|Braund, Mr. Owen ...|  null|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|          2|Cumings, Mrs. Joh...|     1|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|          3|Heikkinen, Miss. ...|     3|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|          4|Futrelle, Mrs. Ja...|     1|female|  35|    1|    0|          113803|   53.1| C123|       S|       1|
|          5|Allen, Mr. Willia...|     3|  male|  35|    0|    0|          373450|   8.05| null|       S|       0|
|          6|    Moran, Mr. James|     3|  male|null|    0|    0|          330877| 8.4583| null|       Q|       0|
|          7|McCarthy, Mr. Tim...|     1|  male|  54|    0|    0|           17463|51.8625|  E46|       S|       0|
|          8|Palsson, Master. ...|     3|  male|   2|    3|    1|          349909| 21.075| null|       S|       0|
|          9|Johnson, Mrs. Osc...|     3|female|  27|    0|    2|          347742|11.1333| null|       S|       1|
|         10|Nasser, Mrs. Nich...|     2|female|  14|    1|    0|          237736|30.0708| null|       C|       1|
|         11|Sandstrom, Miss. ...|     3|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
|         12|Bonnell, Miss. El...|     1|female|  58|    0|    0|          113783|  26.55| C103|       S|       1|
|         13|Saundercock, Mr. ...|     3|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
|         14|Andersson, Mr. An...|     3|  male|  39|    1|    5|          347082| 31.275| null|       S|       0|
|         15|Vestrom, Miss. Hu...|     3|female|  14|    0|    0|          350406| 7.8542| null|       S|       0|
|         16|Hewlett, Mrs. (Ma...|     2|female|  55|    0|    0|          248706|     16| null|       S|       1|
|         17|Rice, Master. Eugene|     3|  male|   2|    4|    1|          382652| 29.125| null|       Q|       0|
|         18|Williams, Mr. Cha...|     2|  male|null|    0|    0|          244373|     13| null|       S|       1|
|         19|Vander Planke, Mr...|     3|female|  31|    1|    0|          345763|     18| null|       S|       0|
|         20|Masselmani, Mrs. ...|     3|female|null|    0|    0|            2649|  7.225| null|       C|       1|
+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

#### Replacing with string(using na.fill)

In [0]:
# Similarly, if we replace with only string type, then only string columns from df gets replaced.
# Subset here means that we can replace the same value for some columns as per wish
df1.na.fill(value = 'y', subset = ['Age']).show()

+-----------+--------------------+------+------+---+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|                Name|Pclass|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+-----------+--------------------+------+------+---+-----+-----+----------------+-------+-----+--------+--------+
|          1|Braund, Mr. Owen ...|  null|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|          2|Cumings, Mrs. Joh...|     1|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|          3|Heikkinen, Miss. ...|     3|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|          4|Futrelle, Mrs. Ja...|     1|female| 35|    1|    0|          113803|   53.1| C123|       S|       1|
|          5|Allen, Mr. Willia...|     3|  male| 35|    0|    0|          373450|   8.05| null|       S|       0|
|          6|    Moran, Mr. James|     3|  male|  y|    0|    0|          330877| 8.4583| null|       Q|       0|
|          7|McCarthy, Mr. Tim...|     1|  male| 54|    0|    0|           17463|51.8625|  E46|       S|       0|
|          8|Palsson, Master. ...|     3|  male|  2|    3|    1|          349909| 21.075| null|       S|       0|
|          9|Johnson, Mrs. Osc...|     3|female| 27|    0|    2|          347742|11.1333| null|       S|       1|
|         10|Nasser, Mrs. Nich...|     2|female| 14|    1|    0|          237736|30.0708| null|       C|       1|
|         11|Sandstrom, Miss. ...|     3|female|  4|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
|         12|Bonnell, Miss. El...|     1|female| 58|    0|    0|          113783|  26.55| C103|       S|       1|
|         13|Saundercock, Mr. ...|     3|  male| 20|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
|         14|Andersson, Mr. An...|     3|  male| 39|    1|    5|          347082| 31.275| null|       S|       0|
|         15|Vestrom, Miss. Hu...|     3|female| 14|    0|    0|          350406| 7.8542| null|       S|       0|
|         16|Hewlett, Mrs. (Ma...|     2|female| 55|    0|    0|          248706|     16| null|       S|       1|
|         17|Rice, Master. Eugene|     3|  male|  2|    4|    1|          382652| 29.125| null|       Q|       0|
|         18|Williams, Mr. Cha...|     2|  male|  y|    0|    0|          244373|     13| null|       S|       1|
|         19|Vander Planke, Mr...|     3|female| 31|    1|    0|          345763|     18| null|       S|       0|
|         20|Masselmani, Mrs. ...|     3|female|  y|    0|    0|            2649|  7.225| null|       C|       1|
+-----------+--------------------+------+------+---+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

#### Replacing null with a specific aggregate value

In [0]:
from pyspark.sql.functions import max
max_pclass=df1.agg(max("pclass")).collect()[0][0]
print(max_pclass)

3

In [0]:
df1.na.fill(value=max_pclass,subset=["pclass"]).show()

+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|PassengerId|                Name|Pclass|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|          1|Braund, Mr. Owen ...|     3|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|          2|Cumings, Mrs. Joh...|     1|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|          3|Heikkinen, Miss. ...|     3|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|          4|Futrelle, Mrs. Ja...|     1|female|  35|    1|    0|          113803|   53.1| C123|       S|       1|
|          5|Allen, Mr. Willia...|     3|  male|  35|    0|    0|          373450|   8.05| null|       S|       0|
|          6|    Moran, Mr. James|     3|  male|null|    0|    0|          330877| 8.4583| null|       Q|       0|
|          7|McCarthy, Mr. Tim...|     1|  male|  54|    0|    0|           17463|51.8625|  E46|       S|       0|
|          8|Palsson, Master. ...|     3|  male|   2|    3|    1|          349909| 21.075| null|       S|       0|
|          9|Johnson, Mrs. Osc...|     3|female|  27|    0|    2|          347742|11.1333| null|       S|       1|
|         10|Nasser, Mrs. Nich...|     2|female|  14|    1|    0|          237736|30.0708| null|       C|       1|
|         11|Sandstrom, Miss. ...|     3|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
|         12|Bonnell, Miss. El...|     1|female|  58|    0|    0|          113783|  26.55| C103|       S|       1|
|         13|Saundercock, Mr. ...|     3|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
|         14|Andersson, Mr. An...|     3|  male|  39|    1|    5|          347082| 31.275| null|       S|       0|
|         15|Vestrom, Miss. Hu...|     3|female|  14|    0|    0|          350406| 7.8542| null|       S|       0|
|         16|Hewlett, Mrs. (Ma...|     2|female|  55|    0|    0|          248706|     16| null|       S|       1|
|         17|Rice, Master. Eugene|     3|  male|   2|    4|    1|          382652| 29.125| null|       Q|       0|
|         18|Williams, Mr. Cha...|     2|  male|null|    0|    0|          244373|     13| null|       S|       1|
|         19|Vander Planke, Mr...|     3|female|  31|    1|    0|          345763|     18| null|       S|       0|
|         20|Masselmani, Mrs. ...|     3|female|null|    0|    0|            2649|  7.225| null|       C|       1|
+-----------+--------------------+------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

##### Replacing with multiple values for multiple columns

In [0]:
df1.na.fill("Unique",['Cabin'])\
    .na.fill("Unknow",['Age']).show()

+-----------+--------------------+------+------+------+-----+-----+----------------+-------+------+--------+--------+
|PassengerId|                Name|Pclass|   Sex|   Age|SibSp|Parch|          Ticket|   Fare| Cabin|Embarked|Survived|
+-----------+--------------------+------+------+------+-----+-----+----------------+-------+------+--------+--------+
|          1|Braund, Mr. Owen ...|  null|  male|    22|    1|    0|       A/5 21171|   7.25|Unique|       S|       0|
|          2|Cumings, Mrs. Joh...|     1|female|    38|    1|    0|        PC 17599|71.2833|   C85|       C|       1|
|          3|Heikkinen, Miss. ...|     3|female|    26|    0|    0|STON/O2. 3101282|  7.925|Unique|       S|       1|
|          4|Futrelle, Mrs. Ja...|     1|female|    35|    1|    0|          113803|   53.1|  C123|       S|       1|
|          5|Allen, Mr. Willia...|     3|  male|    35|    0|    0|          373450|   8.05|Unique|       S|       0|
|          6|    Moran, Mr. James|     3|  male|Unknow|    0|    0|          330877| 8.4583|Unique|       Q|       0|
|          7|McCarthy, Mr. Tim...|     1|  male|    54|    0|    0|           17463|51.8625|   E46|       S|       0|
|          8|Palsson, Master. ...|     3|  male|     2|    3|    1|          349909| 21.075|Unique|       S|       0|
|          9|Johnson, Mrs. Osc...|     3|female|    27|    0|    2|          347742|11.1333|Unique|       S|       1|
|         10|Nasser, Mrs. Nich...|     2|female|    14|    1|    0|          237736|30.0708|Unique|       C|       1|
|         11|Sandstrom, Miss. ...|     3|female|     4|    1|    1|         PP 9549|   16.7|    G6|       S|       1|
|         12|Bonnell, Miss. El...|     1|female|    58|    0|    0|          113783|  26.55|  C103|       S|       1|
|         13|Saundercock, Mr. ...|     3|  male|    20|    0|    0|       A/5. 2151|   8.05|Unique|       S|       0|
|         14|Andersson, Mr. An...|     3|  male|    39|    1|    5|          347082| 31.275|Unique|       S|       0|
|         15|Vestrom, Miss. Hu...|     3|female|    14|    0|    0|          350406| 7.8542|Unique|       S|       0|
|         16|Hewlett, Mrs. (Ma...|     2|female|    55|    0|    0|          248706|     16|Unique|       S|       1|
|         17|Rice, Master. Eugene|     3|  male|     2|    4|    1|          382652| 29.125|Unique|       Q|       0|
|         18|Williams, Mr. Cha...|     2|  male|Unknow|    0|    0|          244373|     13|Unique|       S|       1|
|         19|Vander Planke, Mr...|     3|female|    31|    1|    0|          345763|     18|Unique|       S|       0|
|         20|Masselmani, Mrs. ...|     3|female|Unknow|    0|    0|            2649|  7.225|Unique|       C|       1|
+-----------+--------------------+------+------+------+-----+-----+----------------+-------+------+--------+--------+
only showing top 20 rows

##### Replacing with multiple values for multiple columns using Dictionary

In [0]:
rep_dict={
    "Age":"Unknown",
    "Cabin":"Unique"
}
df1.fillna(rep_dict).show()

+-----------+--------------------+------+------+-------+-----+-----+----------------+-------+------+--------+--------+
|PassengerId|                Name|Pclass|   Sex|    Age|SibSp|Parch|          Ticket|   Fare| Cabin|Embarked|Survived|
+-----------+--------------------+------+------+-------+-----+-----+----------------+-------+------+--------+--------+
|          1|Braund, Mr. Owen ...|  null|  male|     22|    1|    0|       A/5 21171|   7.25|Unique|       S|       0|
|          2|Cumings, Mrs. Joh...|     1|female|     38|    1|    0|        PC 17599|71.2833|   C85|       C|       1|
|          3|Heikkinen, Miss. ...|     3|female|     26|    0|    0|STON/O2. 3101282|  7.925|Unique|       S|       1|
|          4|Futrelle, Mrs. Ja...|     1|female|     35|    1|    0|          113803|   53.1|  C123|       S|       1|
|          5|Allen, Mr. Willia...|     3|  male|     35|    0|    0|          373450|   8.05|Unique|       S|       0|
|          6|    Moran, Mr. James|     3|  male|Unknown|    0|    0|          330877| 8.4583|Unique|       Q|       0|
|          7|McCarthy, Mr. Tim...|     1|  male|     54|    0|    0|           17463|51.8625|   E46|       S|       0|
|          8|Palsson, Master. ...|     3|  male|      2|    3|    1|          349909| 21.075|Unique|       S|       0|
|          9|Johnson, Mrs. Osc...|     3|female|     27|    0|    2|          347742|11.1333|Unique|       S|       1|
|         10|Nasser, Mrs. Nich...|     2|female|     14|    1|    0|          237736|30.0708|Unique|       C|       1|
|         11|Sandstrom, Miss. ...|     3|female|      4|    1|    1|         PP 9549|   16.7|    G6|       S|       1|
|         12|Bonnell, Miss. El...|     1|female|     58|    0|    0|          113783|  26.55|  C103|       S|       1|
|         13|Saundercock, Mr. ...|     3|  male|     20|    0|    0|       A/5. 2151|   8.05|Unique|       S|       0|
|         14|Andersson, Mr. An...|     3|  male|     39|    1|    5|          347082| 31.275|Unique|       S|       0|
|         15|Vestrom, Miss. Hu...|     3|female|     14|    0|    0|          350406| 7.8542|Unique|       S|       0|
|         16|Hewlett, Mrs. (Ma...|     2|female|     55|    0|    0|          248706|     16|Unique|       S|       1|
|         17|Rice, Master. Eugene|     3|  male|      2|    4|    1|          382652| 29.125|Unique|       Q|       0|
|         18|Williams, Mr. Cha...|     2|  male|Unknown|    0|    0|          244373|     13|Unique|       S|       1|
|         19|Vander Planke, Mr...|     3|female|     31|    1|    0|          345763|     18|Unique|       S|       0|
|         20|Masselmani, Mrs. ...|     3|female|Unknown|    0|    0|            2649|  7.225|Unique|       C|       1|
+-----------+--------------------+------+------+-------+-----+-----+----------------+-------+------+--------+--------+
only showing top 20 rows